@import './variables.css';


.json-box{
    border: 1px solid black;
    border-radius: 2em;
    object-fit: cover;
    width: 60%;
    
    background-color: rgb(39, 40, 34);
    padding: 3%;
    
}

.content{
    display: flex;
}

.main{
    border: 2px solid black;
    
}




