@import './variables.css';

@font-face {
  font-family: 'Garamond';
  src: url('/public/fonts/garamond_[allfont.ru].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.homeimage {
  width: 95%;       
  height: 540px;
  
  margin: 2%;
}

.quote { 
  font-size: 1.2rem;
  font-family: 'Garamond';
  
  
  border-left: 1px solid white;
  padding-left: 1%;
  
  margin-left: 10%;
  margin-top: 0.2%; 
  
  color: var(--p-color);
}

.divider{
  width: 70%;
  
  border: 1px solid white;
}

.description {
  margin-top:0;
  margin-left: 5%;
  
  font-size: 20px;
  
  line-height: 1.5;

  color: var(--p-color);
}

.bottom{
  display: flex;
}

.para{
  margin-top: 0;
  margin-left: 5%;
  font-size: 20px;
  line-height: 1.5;

  color: var(--p-color);;
}

.profile{  
  width:40%;
  border-radius:1em;
  margin-left:5%;

  margin-bottom: 5%;
}