@import './variables.css';

@font-face {
  font-family: 'Garamond';
  src: url('/public/fonts/garamond_[allfont.ru].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.homeimage {
  width: 95%;       
  height: 33.75rem;
  
  margin: 1.25rem;
}

.quote { 
  font-size: 1.2rem;
  font-family: 'Garamond';
  
  border-left: 1px solid white;
  padding-left: 0.625rem;
  
  margin-left: 6.25rem;
  margin-top: 0.125rem; 
  
  color: var(--p-color);
}

.divider{
  width: 70%;
  
  border: 1px solid white;
}

.description {
  margin-top:0;
  margin-left: 3.125rem;
  
  font-size: 1.25rem;
  
  line-height: 1.5;

  color: var(--p-color);
}

.bottom{
  display: flex;
}

.para{
  font-size: 1.25rem;
  line-height: 1.5;

  margin-top: 0;
  margin-left: 3.125rem;

  color: var(--p-color);;
}

.profile{  
  width:40%;
  
  border-radius:1rem;
  
  margin-left:3.125rem;
  margin-bottom: 3.125rem;
}