:root{
    --homebar--width: 8vw;
    background-color: rgb(99,99,99);
}

.layout{
    display: flex;
    margin-right: 5vw;
    
}

.layout-content{
    flex: 1;
    padding-right: var(--homebar--width);
}